body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#title {
  color: white;
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}
p {
  color: #8f8f8f;
}


h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.5;
}
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 10%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}
/* FEATURES SECTION */


#features {

  padding: 7% 15%;

  background-color: #FFF;

  position: relative;

}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
.prime {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.4rem;

}
.prime2 {
  color: #8f8f8f;
}
/* TESTIMONIALS SECTION */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-image {
    padding: 7% 15%;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
.cta-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 2;
  color: #fff;
}
#cta {
  padding: 7% 20%;
  background-color: #ff4c68;
  text-align: center;
}
#footer {
  padding-top: 3%;
  text-align: center;
}
.foot {
  margin: 2% 1%;
  color: black;
}
